PORT=3005
NODE_ENV=development
DEBUG=1

DATABASE_URL=postgresql://messagemesh:messagemesh@postgres:5432/messagemesh

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

SMTP_HOST=mailhog
SMTP_PORT=1025

JWT_SECRET=dev-jwt-secret
