PORT=3005
NODE_ENV=development
DEBUG=1

DATABASE_URL=postgresql://neondb_owner:npg_Nj0qRe2tPiFE@ep-shy-mountain-anqqq3vc-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

RABBITMQ_URL=amqp://messagemesh:dev_password@rabbitmq:5672

SMTP_HOST=mailhog
SMTP_PORT=1025

JWT_SECRET=your-jwt-secret-key-change-in-prod
