PORT=3002
NODE_ENV=development
DEBUG=1

# Database
DATABASE_URL=postgresql://user:password@postgres:5432/messagemesh_users

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672

# Redis
REDIS_URL=redis://redis:6379

# Service
SERVICE_NAME=user-service
