PORT=3007
NODE_ENV=development
DEBUG=1

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=messagemesh
DATABASE_PASSWORD=messagemesh
DATABASE_NAME=messagemesh

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://localhost:6379

JWT_SECRET=your-secret-key-here
